<h1>Sessions#create</h1>
<p>Find me in app/views/sessions/create.html.erb</p>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3 text-center">Create Account</h1>
        
    </div>
</div>