<h1>Blogs#index</h1>
<% @user.blogs.each do |b| %>
    <h1><%= b.title %></h1>
    <h3><%= link_to  "Edit blog", user_blog_path(@user.id, b.id) %></h3>
<% end %>


<%= link_to  "Create Blog", new_user_blog_path %>

