<h1>Blogs#show</h1>
<h2><%= @blog.title %></h2>

<%= link_to  "Edit Blog", edit_user_blog_path(@blog) %>

<%= link_to  "Delete Blog", delete_user_blog_path, method: "delete" %>


<%= link_to  "Go Back", user_blogs_path %>