<nav class="navbar fixed-bottom navbar-light bg-dark">
    <div class="container-fluid">
        <div class="pull-left text-left">
            <a class="navbar-brand text-white" href="/users"><%= icon('cloud') %> BlogIT <%= icon('pencil') %></a>
        </div>
        <div class="pull-right">
            <p class="lead text-white">
                @Copyright 2017
            </p>
        </div>
    </div>
 </nav>