<div class="container">
        <div class="jumbotron">
            <h1 class="display-3 text-center">About</h1>
            <p class="lead">
                The development of this website came about to just be able
                to blog about anything and leave your thoughts out in the open.
            </p>
        </div>
    </div>
